# @see https://docs.brandfetch.com/
# @note this is a barebone OpenAPI spec for Brandfetch API
openapi: 3.0.3
info:
  title: Brandfetch API
  description: API to retrieve brand information including logos, colors, fonts, and social media links
  version: '2.0'
servers:
  - url: https://api.brandfetch.io
paths:
  /v2/brands/{domain}:
    get:
      operationId: getBrand
      summary: Get brand information by domain
      parameters:
        - name: domain
          in: path
          required: true
          description: Company domain name (e.g., apple.com)
          schema:
            type: string
      responses:
        '200':
          description: Successful response with brand data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandResponse'
        '401':
          description: Unauthorized
        '404':
          description: Brand not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    BrandResponse:
      type: object
      properties:
        name:
          type: string
          example: Apple
        domain:
          type: string
          example: apple.com
        claimed:
          type: boolean
        description:
          type: string
        longDescription:
          type: string
        links:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              url:
                type: string
        logos:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              theme:
                type: string
              formats:
                type: array
                items:
                  type: object
                  properties:
                    src:
                      type: string
                    background:
                      type: string
                    format:
                      type: string
                    size:
                      type: integer
        colors:
          type: array
          items:
            type: object
            properties:
              hex:
                type: string
                example: '#000000'
              type:
                type: string
              brightness:
                type: integer
        fonts:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              origin:
                type: string
              originId:
                type: string
              weights:
                type: array
                items:
                  type: integer
        images:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              formats:
                type: array
                items:
                  type: object
                  properties:
                    src:
                      type: string
                    format:
                      type: string
security:
  - bearerAuth: []
